.content
  .content-side
    = render partial: 'shared/side_menu'

  .content-main
    .chat-header.clearfix
      .chat-header--left
        %h2.group-name
          =@chat_group.group_name
        %p.users
          Members: mai

      .chat-header--right
        =link_to "Edit", edit_chat_group_path(@chat_group), class: "edit-btn"

    .chat-body
      .chat-messages
        .chat-messages__message
          - @messages.each do |message|
            .chat-message__header.clearfix
              %p.chat-message__name
                = message.user.name
              %p.chat-message__date
                = message.created_at
            %p.chat-message__content
              = message.text

    .chat-footer
      = form_for [@chat_group, @message] do |f|
        =f.hidden_field :user_id, value: current_user.id
        =f.hidden_field :chat_group_id, value: @chat_group.id
        .chat-footer__body
          =f.text_area :text, id: "message_text", placeholder: "Type a message", row: 1
          %label.chat-footer__file
            %i.fa.fa-picture-o{ aria: {hidden: :true} }
          %input{ type: "submit", value: "Send" }


